form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div {
  color: red;
  font-size: 12px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

.btn-enabled {
  background-color: green;
  color: white;
  cursor: pointer;
}

